body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    text-align: center;
    
}
div.a {
   border-bottom: center;
   border-style: solid;
   border-color: #ffffff #ffffff #C0C0C0 #ffffff;
   font-size: 36px;
   line-height: 36px;
}
p {
    font-size: 20px;
    line-height: 26px; 
}