body {
    font-family: 'Roboto', sans-serif;
   font-size: 20px;
   line-height: 26px;
}
.a {
   border-style: solid;
   border-color: #ffffff #ffffff #C0C0C0 #ffffff;
   font-size: 36px;
   line-height: 36px;
   padding-bottom: 20px;
}
.b{
    margin-top: 40px;
    margin-bottom: 40px;
}
li{
    margin-top: 10px;
    
}
.c{
   margin-top: 20px;
}
.p {
    font-size: 24px;
    line-height: 32px; 
}
#content {
    width: 900px;
    margin: 0 auto;
}
#pic{
    height: 650px;
    width: 650px;
}
.tip{
margin-top: 25px;
border: 4px solid #def6ed;
background: #def6ed;

font-size: 20px;
line-height: 26px;
}
span{
    font-weight: bold;
}